@using LEXEnprise.Blazor.Shared.Components

<PageHeader PageTitle="Home" />
<MainContent>
    <div style="text-align:center">
        <h1>
            Welcome to LexEnprise!!!
        </h1>
    </div>
</MainContent>
