<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        @ChildContent
    </div>
</section>
<!-- /.content -->

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
