<div class="input-group input-group-sm"> <!-- style="width: 250px;"> -->
    @if (EnableFilter)
    {
        <div class="input-group-append">
            <button @onclick="ShowFilterForm" class="btn btn-default">
                <i class="fas fa-filter"></i>
            </button>
        </div>
    }
    <input type="text" class="form-control float-right" placeholder="Search"
           @bind-value="@SearchTerm" />

    <div class="input-group-append">
        <button @onclick="SubmitSearch" class="btn btn-default">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>