@inherits LayoutComponentBase
@inject IAccountService AccountService
@using LEXEnprise.Blazor.Shared


@if (IsLoggedIn)
{
    <NavMenu />
    <TopBar />

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        @Body
    </div>
}
else
{
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="margin-left: 1px !important;">
        @Body
    </div>
}


@if (IsLoggedIn)
{
    <Footer />
}

@code
{
    public bool IsLoggedIn
    {
        get
        {
            return AccountService.User != null;
        }

    }
}