@inherits LayoutComponentBase
@inject IAccountService AccountService
@using LEXEnprise.Blazor.Shared


@if (IsLoggedIn)
{
    <NavMenu />
    <TopBar />
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    @Body
</div>

@if (IsLoggedIn)
{
    <Footer />
}

@code
{
    public bool IsLoggedIn
    {
        get
        {
            return AccountService.User != null;
        }

    }
}