@page "/unauthorized" 

<MainContent>
    <div style="text-align:center">
        <h1>
            You're not authorized to reach the page you are trying to access.
        </h1>
        <p>
            <a href="/accounts/login" class="nav-link">Click here to Login</a>
        </p>
    </div>
</MainContent>

