@page "/client/add"
@using LEXEnprise.Blazor.Shared.Components

<PageHeader PageTitle=@PageTitle />
<MainContent>
    <div style="text-align:center">
        <h1>
            Welcome to LEXEnprise Add New Client!!!
        </h1>
    </div>
</MainContent>

@code {
    public string PageTitle { get; set; } = "Add Client";
}