@page "/clients"
@using LEXEnprise.Blazor.Shared.Components
@*@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration*@ 

<PageHeader PageTitle=@PageTitle />
<MainContent>
    <div style="text-align:center">
        <h1>
            Welcome to LEXEnprise Clients MAN!!!
        </h1>
    </div>
</MainContent>
