.spinner {
    display: none;
    align-items: center;
}

@media (min-width: 300px) {
    .spin-center {
        margin-left: 47%;
        margin-top: 55%;
    }
}

@media (min-width: 576px) {
    .spin-center {
        margin-left: 47%;
        margin-top: 15%;
    }
}

@media (min-width: 768px) {
    .spin-center {
        margin-left: 47%;
        margin-top: 15%;
    }
}

@media (min-width: 992px) {
    .spin-center {
        margin-left: 47%;
        margin-top: 25%;
    }
}

@media (min-width: 1200px) {
    .spin-center {
        margin-left: 47%;
        margin-top: 15%;
    }
}