@page "/clients"
@using LEXEnprise.Blazor.Shared.Components
@using LEXEnprise.Blazor.Clients.Components
@attribute [Authorize(Roles ="MISStaff,Lawyer")]

<PageHeader PageTitle=@PageTitle BreadCrumbTitle="@BreadCrumbTitle" />
<MainContent>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card">
                    <div class="card-header">
                        <!-- <h3 class="card-title">Clients Listing</h3> -->
                        <div class="card-tools">
                            <ul class="pagination pagination-sm float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                       <ClientsTable Clients="Clients" />
                    </div>
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
        <button type="submit" class="btn btn-primary btn-block" @onclick="RefreshClients">Refresh</button>
    </div>*@
</MainContent>
